node_modules/
.expo/
dist/
.env.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/
android/

# Allow icon assets inside IconKitchen-Output
!assets/IconKitchen-Output/android/
!assets/IconKitchen-Output/android/**
